.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  margin: auto;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    display: flex;
    width: 1140px;
    height: 62px;
  }
}

.top-section {
  background-color: #ffffff;
}
@media screen and (min-width: 1400px) {
  .top-section {
    background-color: #F3C6BD;
    padding-top: 39px;
  }
}

.header__menu_icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-left: auto;
    margin-top: 7px;
    margin-bottom: 30px;
    margin-right: 75px;
  }
  .navigation__item {
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #2b292d;
    margin-right: 50px;
  }
  .navigation__item__item:last-child {
    margin-right: 0;
  }
  .navigation__item_selected {
    font-weight: 700;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__text {
  margin-left: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__text {
    margin-left: 15px;
  }
}
.logo__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #2b292d;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
  }
}

.icon__header {
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .icon__header {
    width: 60px;
    height: 60px;
  }
}

.header__button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__button {
    display: block;
  }
}

.navigation__arrow {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 11px;
}

.header__menu_button {
  margin-left: auto;
  width: 58px;
  height: 100%;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1490196078);
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu_button {
    display: none;
  }
}

.get_started {
  width: 160px;
  height: 48px;
  border-radius: 2px;
  background-color: #3040C4;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}

.headline {
  display: flex;
  flex-direction: column;
  background-color: #F3C6BD;
  padding-top: 35px;
  padding-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline {
    width: 1249px;
    height: 456px;
    margin-top: 76px;
    margin-left: 126px;
    margin-right: 25px;
    margin-bottom: 77px;
    padding: 0;
  }
}
.headline__text {
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__text {
    position: absolute;
    z-index: 1;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  color: #2b292d;
  letter-spacing: -0.3125px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2b292d;
    padding: 0;
  }
}
.headline__description {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    width: 456px;
    height: 102px;
    margin-top: 34px;
    margin-bottom: 58px;
    padding-left: 4px;
  }
}
.headline__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__button {
    display: inline-block;
    margin-right: 10px;
    width: 160px;
    height: 48px;
  }
}
.headline__image {
  display: inline-block;
  margin: 0;
  margin-top: 33px;
  width: 100%;
  height: 180px;
}
@media screen and (min-width: 1400px) {
  .headline__image {
    display: inline-block;
    position: relative;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}

.white_button {
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #3040C4;
  text-align: center;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.about {
  background-color: #F4F5F7;
  padding: 26px 15px 46px 15px;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-around;
    width: 1400px;
    height: 255px;
    padding: 77px 131px 77px 130px;
  }
}
.about__item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.about__item_title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  color: #2b292d;
  padding: 0;
}
.about__item_text {
  font-size: 22px;
  line-height: 32px;
  color: #2b292d;
  padding: 0;
}

.customers {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.customers_row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers_row {
    flex: 1;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1400px) {
  .customers {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    padding-top: 30px;
    padding-bottom: 106px;
  }
}

.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #E3E3E3;
  border-right: 1px solid #E3E3E3;
  width: 107px;
  height: 94px;
}
.customers__item:last-child {
  border-right: none;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    width: 104px;
    height: 75px;
    border: none;
  }
}

.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.features__mobile {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .features__mobile {
    display: none;
  }
}
.features__mobile_tips {
  border-bottom: 1px solid #E3E3E3;
  padding-bottom: 20px;
}
.features__mobile_text {
  align-items: center;
  justify-content: center;
  padding: 0px 15px 0px 15px;
}
.features__mobile_text-name {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009B4D;
  margin: 0;
  margin-bottom: 17px;
  padding-top: 40px;
}
.features__mobile_text_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2b292d;
}
.features__mobile_text_direction {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  margin: 0;
  margin-top: 15px;
}

.features__mobile_picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 290px;
  height: 432px;
}
.features__mobile_picture_text {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

.features {
  display: flex;
  position: relative;
}
@media screen and (max-width: 399px) {
  .features {
    display: none;
  }
}
.features__text {
  margin-left: 128px;
  margin-right: 126px;
}
.features__text_name {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009B4D;
  margin: 0;
}
.features__text_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #2b292d;
  margin: 0;
  margin-top: 24px;
}
.features__text_discription {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  margin: 0;
  margin-top: 30px;
}
.features__customers {
  display: inline-block;
  border-bottom: 3px solid #3142C6;
  margin-bottom: 20px;
}
.features__customers_icon {
  width: 24px;
  height: 24px;
  margin: 0;
  margin-top: 43px;
  margin-right: 15px;
}
.features__customers_subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142C6;
}
.features__customers_discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #2b292d;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 20px;
}
.features__item {
  display: flex;
  border-bottom: 1px solid rgba(43, 41, 45, 0.1490196078);
  padding-bottom: 22px;
  padding-top: 20px;
}
.features__item_description {
  align-items: center;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #2b292d;
  margin: 0;
}
.features__item_icon-building {
  width: 23px;
  height: 25px;
  margin-right: 15px;
}
.features__item_icon-bucket {
  width: 22px;
  height: 22px;
  margin-right: 15px;
}

.features__screen {
  max-width: 1086px;
  height: 597px;
  filter: drop-shadow(0px 4px 16px rgba(44, 50, 65, 0.08));
}
@media screen and (max-width: 399px) {
  .features__screen {
    display: none;
  }
}

.hidden-ouch {
  position: absolute;
  left: 0%;
  right: 91.11%;
  top: 42.86%;
  bottom: 29.57%;
}

@media screen and (min-width: 1400px) {
  .footer {
    width: 1400px;
    height: 389px;
    padding: 0px 132px 15px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .users-navigation {
    display: flex;
    width: 1140px;
    border-bottom: 1px solid rgba(43, 41, 45, 0.1019607843);
  }
}

.footer__company {
  border-bottom: 1px solid #E3E3E3;
}
@media screen and (min-width: 1400px) {
  .footer__company {
    border: none;
  }
}

.footer__company_logo {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .footer__company_logo {
    flex-direction: row;
    margin-top: 43px;
    align-items: flex-start;
  }
}
.footer__company_logo_text {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .footer__company_logo_text {
    align-items: flex-start;
    margin-left: 15px;
  }
}
.footer__company_logo_name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #2b292d;
}
.footer__company_logo_description {
  display: flex;
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
  margin-bottom: 31px;
}
@media screen and (min-width: 1400px) {
  .footer__company_logo_description {
    display: block;
    margin: 0;
  }
}

.footer__company_icon__header {
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .footer__company_icon__header {
    width: 60px;
    height: 60px;
  }
}

.footer__company_inform {
  display: none;
}
@media screen and (min-width: 1400px) {
  .footer__company_inform {
    display: inline-block;
    width: 360px;
    height: 85px;
    margin: 0;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
  }
}

.download {
  display: flex;
  margin-left: 30px;
  margin-right: 29px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .download {
    margin-left: 0;
    margin-top: 25px;
  }
}
.download__item {
  margin-right: 10px;
}

.inform-block {
  margin: 15px;
  margin-bottom: 31px;
}
@media screen and (min-width: 1400px) {
  .inform-block {
    display: flex;
    width: 559px;
    height: 231px;
    margin: 0;
    margin-top: 60px;
    margin-left: auto;
  }
}

@media screen and (min-width: 1400px) {
  .user-content {
    margin-right: 29px;
  }
}
.user-content__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 18px;
}
.user-content__title_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 47px;
}
.user-content__title_list_item {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
}

.footer__links {
  margin-left: 15px;
}
@media screen and (min-width: 1400px) {
  .footer__links {
    display: flex;
    height: 50px;
  }
}

.footer__links_item {
  margin-bottom: 30px;
  margin-right: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
}
@media screen and (min-width: 1400px) {
  .footer__links_item {
    margin-top: 13px;
  }
}

.footer__social {
  margin-bottom: 23px;
  margin-top: 31px;
}
@media screen and (min-width: 1400px) {
  .footer__social {
    margin: 0;
    margin-top: 17px;
    margin-left: auto;
  }
}
.footer__social_item {
  margin-right: 20px;
}

.order {
  background-color: #F4F5F7;
}
@media screen and (min-width: 1400px) {
  .order {
    display: flex;
    align-items: center;
  }
}
.order__picture {
  display: inline-block;
  width: 200px;
  height: 220px;
  margin: 50px 60px 40px 60px;
}
@media screen and (min-width: 1400px) {
  .order__picture {
    width: 269px;
    height: 296px;
    margin: 73px 121px 72px 224px;
  }
}
.order__some-text {
  margin: 0 15px 40px 15px;
}
@media screen and (min-width: 1400px) {
  .order__some-text {
    margin: 0;
    margin-top: 106px;
  }
}
.order__some-text_title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #2b292d;
  text-align: center;
  letter-spacing: -0.25px;
  margin: 0;
  margin-bottom: 18px;
}
@media screen and (min-width: 1400px) {
  .order__some-text_title {
    text-align: start;
    margin: 0;
    margin-bottom: 12px;
  }
}
.order__some-text_description {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #2b292d;
  margin: 0;
  padding-bottom: 40px;
}
@media screen and (min-width: 1400px) {
  .order__some-text_description {
    padding: 0;
    margin-bottom: 26px;
    margin-right: 230px;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
.content .down__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 1400px) {
  .content .down__item {
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
}
.content .down__item_email {
  width: 290px;
  height: 48px;
  text-align: center;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  margin-bottom: 12px;
}
.content .down__item_email::placeholder {
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .content .down__item_email {
    width: 385px;
    height: 48px;
    margin: 0;
    margin-right: 10px;
  }
}
.content .down__item_button {
  width: 290px;
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .content .down__item_button {
    width: 160px;
    height: 48px;
  }
}

.text-under {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1400px) {
  .text-under {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 106px;
  }
}
.text-under__links {
  color: #3142C6;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

.page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 1400px) {
  .page {
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}

/*# sourceMappingURL=styles.css.map */
