@import 'variables.scss';
.header {
  display: flex;
  width: 1140px;
  height: 62px;
  margin: auto;
}
.top-section {
  background-color: $color-top-section;
  padding-top: 39px;
}

.icon__header {
  width: 60px;
  height: 60px;
}
.logo {
  display: flex;
  align-items: center;
  &__text {
  margin-left: 15px;
}
&__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: $color-text;
}
&__description {
  font-size: 18px;
  line-height: 25px;
  color: $color-text-ligth;
}
}
.navigation {
  margin-left: auto;
  margin-top: 7px;
  margin-bottom: 30px;
  margin-right: 75px;
  &__item {
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: $color-text;
  margin-right: 50px;
  &__item:last-child {
    margin-right: 0;
  }

  &_selected {
    font-weight: 700;
  }
}
}

.navigation__arrow {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 11px;
}
