$color-top-section: #F3C6BD;
$color-button-blue: #3040C4; 
$color-text-ligth: #2b292d99;
$color-text: #2b292d;
$color-text-button: #ffffff;
$color-white: #ffffff;
$color-backgraund-ligth: #F4F5F7;
$color-ligth-gray:  #E3E3E3;
$color-green: #009B4D;
$color-blue-text: #3142C6;